html , body{
    background-color: rgb(160, 214, 214);
    font-family: "Oxygen" ,  serif;
}

.GameArea{
    height: 100vh;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.output{
    position: relative;
    height: 70%;
    width: 70%;
    background-color: rgb(156, 197, 116);
    border: 1px solid rgb(127, 190, 63);
    cursor: grab;
}

.box{
    display:none;
    position: relative;
    top: 50%;
    left: 50%;
    height: 50px;
    width: 50px;
    border:1px solid rgb(100, 48, 148);
    background-color: rgb(104, 191, 206);
    border-radius: 5px;
    cursor: pointer;
}

.message{
    position: absolute;
    top: 2%;
    left: 10%;
}

div .banner{
    width: 100%;
    position: absolute;
    top:50%;
    bottom:50%;
}

